<%- title "H+H Software Solutions" %>
<%- description "H+H Software Solutions is a software company based out of Nashville, TN, specializing is solving business-related problems with technology" %>
<%- keywords "Trevor, Hinesley, Trevor Hinesley, Brian, Hood, Brian Hood, Software, Solutions, SaaS, Software As A Service, Nashville, TN, Tennessee" %>
<div id="main-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-lg-offset-3 text-center">
				<div class="row">
					<div class="col-lg-12">
						<h1 class>Trevor Hinesley</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<a href="mailto:trevor@hhsoftwaresolutions.com">trevor@hhsoftwaresolutions.com</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 text-center">
				<div class="row">
					<div class="col-lg-12">
						<h1>Brian Hood</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<a href="mailto:brian@hhsoftwaresolutions.com">brian@hhsoftwaresolutions.com</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>