<%- title "For All Eternity | Merry Christmas" %>
<%- description "Merry Christmas from For All Eternity!" %>
<%- keywords "For All Eternity, Christian, Metal, Australia, White, Flame, Single, 2013, Merry, Christmas" %>
<div id="main">
  <div class="container" id="main-container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <div class="row">
          <h1>Merry Christmas from For All Eternity</h1>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="videocontent">
              <video id="merry-christmas-video" class="video-js vjs-default-skin" controls preload="auto" width="auto" height="auto" data-setup>
                <source src="<%=asset_path('merry-christmas.mp4')%>" type='video/mp4' />
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>